@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@1,400&display=swap');
@import "tailwindcss";
@keyframes slideFadeDown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-fade {
  animation: slideFadeDown 0.45s ease-out forwards;
}


@layer utilities {
  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient {
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite;
  }
}
